@model IEnumerable<Book_Store.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.publish_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publish_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.publish_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publish_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id })
            @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
            {
                <span> | </span>
                @Html.ActionLink("Edit", "Edit", new { id = item.id })
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.id })

            }
        </td>
    </tr>
}

</table>
